<div class="contextual">
  <%= link_to "Add Custom Field", new_list_path, method: 'get', class: 'icon icon-add' %> |
  <%= link_to 'Back', lists_path %>
</div>
<h2><%= @list.name %></h2>
<fieldset id="create_conf_block">
	<legend><b>CustomFields</b></legend>
	<% if @fields.size > 0 %>
	<table class="list issues odd-even sort-by-id sort-desc">
	  <thead>
	    <tr><th>Name</th><th>Format</th><th>Description</th><th>Required</th></tr>
	  </thead>
	  <tbody>
	    <% @fields.each do |field| %>
	      <tr>
	        <td><%= link_to field.name, edit_custom_field_path(field) %></td>
	        <td><%= field.format.name %></td>
	        <td><%= field.description %></td>
	        <td><%= field.is_required %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<% else %>
	<p>No fields found</p>
	<% end %>
</fieldset>